<!-- <ion-header>
  <ion-toolbar>
    <ion-title>control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Charts.js in Ionic 5
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
<!-- inicio modo noche -->
  <ion-list>
    <ion-item>
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label>Modo Noche</ion-label>
      <ion-toggle slot="end"
          [ngModel]="darkMode"
          (ionChange)="cambio()"></ion-toggle>
    </ion-item>
  </ion-list>
  <!-- fin de modo noche -->
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Doughnut Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card>
    <!-- <ion-card>
      <ion-card-header>
        Line Chart
      </ion-card-header>
      <ion-card-content>
        <canvas #lineCanvas style="position: relative; height:20vh; width:40vw"></canvas>
      </ion-card-content>
    </ion-card> -->
  </div>
</ion-content>

