 <ion-content class="ion-padding">
  <ion-card color="danger">
  <ion-card-header>
    <ion-card-title>Temperatura y</ion-card-title>
    <ion-card-title>Humedad</ion-card-title>

  </ion-card-header>
</ion-card>   

 <ion-img src="https://static.vecteezy.com/system/resources/previews/009/664/681/non_2x/water-drop-icon-transparent-free-png.png" ></ion-img>
<p>80%</p>
<ion-img class="2" src="https://images.edrawsoft.com/articles/line-graph/line-chart-2.png" ></ion-img>
+
 </ion-content>

 <style>
  ion-content::part(background) {
  background:white;
  
}

ion-content::part(scroll) {
  color: #fff;
}

ion-img{
  height: 130px;
  position: relative;
  top: 20px;
  
}
p{
  color:cornflowerblue;
  position: relative;
  width: 50px;
  left: 110px;

}

 </style>