<!-- <ion-header>
  <ion-toolbar>
    <ion-title>temperatura y humedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/dashboard']">exit</ion-button>
    <ion-title>Humedad y Temperatura</ion-title>
  </ion-toolbar>
  <!--inicio de las cartas-->
  <ion-card>
   <!--  <ion-card-header>
      <ion-card-title>Card Title</ion-card-title> 
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://imagenes.elpais.com/resizer/2rqZIRpYpNkmWWwkLbe2UpQCfjM=/1960x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/PWEFTQUKYXTYCME3Y7AAW6O7E4.jpg" />
          </ion-thumbnail>
          <ion-label>Temperatura</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://www.metroworldnews.com/resizer/dESLs1U_QcDC0v7A-QH0dNmJYV0=/800x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/metroworldnews/QAOGUDVYANCRLEWXAO2DNUFNJE.jpg" />
          </ion-thumbnail>
          <ion-label>Temperatura</ion-label>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://images.hola.com/imagenes/decoracion/20220705213111/plantas-interior-decorativas-mc/1-110-635/plantas-decorativas-5-a.jpg" />
          </ion-thumbnail>
          <ion-label>Temperatura</ion-label>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>
    <!--inicio de las cartas-->
</ion-header>

