<!-- <ion-header>
  <ion-toolbar>
    <ion-title>temperatura y humedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="titulo">Humedad y Temperatura</ion-title>
  </ion-toolbar>
  <!--inicio de las cartas-->
  <ion-card>
   <!--  <ion-card-header>
      <ion-card-title>Card Title</ion-card-title> 
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header> -->
    <ion-card-content class="color">
      <ion-list>
        <ion-item class="planta">
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://i5.walmartimages.com/asr/00d9afb4-8ded-4666-b6de-c8682107b999.6e05b97b7540ff69509aaa6d3bad22d9.jpeg" />
          </ion-thumbnail>
          <ion-label class="planta">Planta:"Lengua de vaca"</ion-label>
          <ion-button [routerLink]="['/#']">Monitorear</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://http2.mlstatic.com/D_NQ_NP_802994-MLM53023141747_122022-O.jpg" />
          </ion-thumbnail>
          <ion-label class="planta">Planta:"Corona de cristo"</ion-label>
          <ion-button [routerLink]="['/#']">Monitorear</ion-button>
        </ion-item>
  
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Silhouette of mountains" src="https://api.floriday.io/images/db89a836-497e-48c5-9e66-fcc700f058dd.jpg?width=360&height=360&crop=pad" />
          </ion-thumbnail>
          <ion-label class="planta">planta:"Prunus lusitanica"</ion-label>
          <ion-button [routerLink]="['/#']">Monitorear</ion-button>
        </ion-item>
  
      </ion-list>
    </ion-card-content>
  </ion-card>
    <!--inicio de las cartas-->
</ion-header>

