.titulos{
    font-family: 'Tilt Warp', cursive;
    color: antiquewhite;
    text-align: center;
    font-size: 1.5rem;
}
.titu{
    font-size: 1.2rem;
    font-family: 'Tilt Warp', cursive;
}
.fondo{
    background-color: rgb(172, 8, 49);
}

.img{
   width: 130px;
   height: 130px;
   position: box;
   float: left;
   padding-right: 15px;
}
.color{
    background-color: rgb(172, 8, 49);
}
h1{
    color: antiquewhite;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}