<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/dashboard']" fill="clear"><</ion-button>
    <ion-title class="text">Control:"Area 2"</ion-title> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card color="success">
    <ion-card-header>
      <ion-card-title>Estado del Motor</ion-card-title>
      <ion-card-subtitle>turn on / off</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-toggle color="" checked></ion-toggle>
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary">
    <ion-card-header>
      <ion-card-title>Nivel de Humedad Actual</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>
        estado del área
      </ion-card-subtitle>
    </ion-card-content>
  </ion-card>
  
</ion-content> 
<!-- 15/4/2023 -->
