<ion-content class="ion-padding">
  <ion-icon name="leaf-outline" size="large" color="success"></ion-icon>
  
    <ion-button [routerLink]="['/dashboard']" shape="round" color="success">Inicio de Sesion</ion-button>
    <ion-button [routerLink]="['/register']" shape="round" color="success">Registrate</ion-button>

  </ion-content>
  
    <style>
      ion-content::part(background) 
      {
    background:white;
  }
  ion-button{
    color: white;
    height: 50px;
    left: 42px;
    position: relative;
    top: 250px;
    width: 150px;
  }
  ion-icon{
    height: 50px;
    left: 45px;
    position: relative;
    top: 250px;
    width: 150px;
  }
    </style>
  
  <!-- Cambios Angel 3.3.23 -->